# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
env/
venv/
.cache/

# ========================
# Switch builds (libnx, hacBrewPack)
# ========================
*.nsp
*.nro
*.nso
*.elf
*.nacp
*.o
*.d
filelist.txt

# Stub working files
stub/romfs/
stub/icon.jpg
stub/icon.png

# HacBrewPack outputs
*.pfs0
*.nca
*.tik
*.cert
*.xml
exefs/
exefs.nsp/
exefs.nca/
exefs.bin
romfs.bin

# ========================
# Project outputs
# ========================
out/

# ========================
# IDEs & editors
# ========================
.vscode/
.idea/
*.swp
*~
